@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fontstatic.useso.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o08SWvhA5BcWCS8xVZDIH7E.woff2) format('woff2');
}

html,
body {
  font-family: 'Press Start 2P', cursivem, Hervitica, Arial, 'Dejavu Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

body {
  background: #000;
}

body,
a {
  color: white;
}

h1 {
  text-align: center;
  margin: 50px;
}

ol {
  max-width: 600px;
  margin: 30px auto 0 auto;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
}

li {
  text-align: left;
  margin: 10px;
  list-style-type: decimal;
}

li > a {
  text-decoration: none;
}
