html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-style: normal;

  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fontstatic.useso.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o08SWvhA5BcWCS8xVZDIH7E.woff2) format('woff2');
}

body {
  font-family: 'press start 2p', cursivem, hervitica, arial, 'dejavu sans', 'hiragino sans gb', 'microsoft yahei', 'wenquanyi micro hei', sans-serif;
  color: white;
  background: black;
}

h1 {
  margin: 50px 0 0 0;
  text-align: center;
  color: #ed1b24;
}

ol {
  font-size: 12px;
  line-height: 1.8;
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 0 10px 0 50px;
}

li {
  margin: 10px;
  list-style-type: decimal;
  text-align: left;
}

li > a {
  text-decoration: none;
  color: white;
  outline: none;
}

li > a:hover:before {
  position: absolute;
  margin: 0 0 0 -60px;
  content: '>';
}
