@import url("https://cdn.jsdelivr.net/meyer-reset/2.0/reset.min.css");
@import url("http://fonts.useso.com/css?family=Press+Start+2P");

html,
body {
  font-family: 'Press Start 2P', cursivem, Hervitica, Arial, 'Dejavu Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

body {
  background: #000;
}

body,
a {
  color: white;
}

h3 {
  text-align: center;
}

ul {
  text-align: center;
  margin: 30px auto 0 auto;
  padding: 0;
  font-size: 12px;
}

li {
  text-align: left;
  margin: 10px;
  list-style-type: none;
}

li > a {
  text-decoration: none;
}
