* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-family: 'press start 2p';
  line-height: 1;
}
body {
  font-family: 'press start 2p';
  text-align: center;
  color: #fff;
  background: #000;
}
a {
  text-decoration: none;
  color: #fff;
}
.cover {
  line-height: 0;
  height: 200px;
  margin: 40px 0 0 0;
  background-position: 0 center;
  background-size: contain;
}
.cover-img {
  width: auto;
  height: 200px;
}
.status {
  font-size: 12px;
  margin: 40px 0 0 0;
}
.players {
  margin: 40px 0 0 0;
  min-height: 200px;
}
.players audio {
  display: block;
  width: 400px;
  max-width: 100%;
  max-width: calc(100% - 40px);
  margin: auto;
}
.controllers {
  margin: 40px 0 80px 0;
  line-height: 2.5;
}
.controllers > a,
.controllers > button {
  margin: 0 25px;
  background: transparent;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.controllers > a:hover:before,
.controllers > button:hover:before {
  position: absolute;
  margin: 0 0 0 -25px;
  content: '>';
}
.controllers .reset {
  color: #6a0010;
}
.info {
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #000;
}
