@import url('https://cdn.jsdelivr.net/meyer-reset/2.0/reset.min.css');

@font-face {
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-style: normal;

  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fontstatic.useso.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o08SWvhA5BcWCS8xVZDIH7E.woff2) format('woff2');
}

@keyframes moving {
  from {
    background-position: 40% 0;
  }
  to {
    background-position: -60% 0;
  }
}

body {
  font-family: 'press start 2p', cursivem, hervitica, arial, 'dejavu sans', 'hiragino sans gb', 'microsoft yahei', 'wenquanyi micro hei', sans-serif;
  text-align: center;
  color: white;
  background: black;
}

a {
  text-decoration: none;
  color: white;
}

.cover {
  line-height: 0;
  margin: 60px 0 0 0;
  background: #5080ff url('/assets/image/bg.png') 40% 50%;
  background-size: contain;
}

.cover.moving {
  animation: moving 40s linear infinite;
}

.cover-img {
  max-width: 200px;
  max-height: 200px;
}

.status {
  margin: 30px 0 0 0;
}

.players {
  margin: 40px 0 0 0;
}

.players audio {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: auto;
}

.controllers {
  margin: 60px 0 20px 0;
}

.controllers .reset {
  color: #6a0010;
}
