---
!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title.title ...
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "/assets/image/favicon.ico", :rel => "icon"}/
    %link{:href => "/assets/css/track.css", :rel => "stylesheet"}/
  %body
    %section.cover
      %img.cover-img{:alt => "cover", :src => "cover.jpg"}/
    %section.players
    %section.controllers
      %a.play{:href => "#"} START
      %a.pause{:href => "#"} PAUSE
      %a.stop{:href => "#"} STOP
      %a.reset{:href => "../../"} RESET
    %section.info
      %p
        %i { opts.manifest.game }
        \- { opts.manifest.company } { opts.manifest.year }
    %script{:src => "https://unpkg.com/lodash@4.16.6/lodash.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/cash/1.3.0/cash.js"}
    %script{:src => "index.js"}
    %script{:src => "/assets/js/track.js"}
